.grid{
    width: 100%;
display: flex;
height: auto;
justify-content: center;
margin-top: 2rem;
padding:  0 5rem 0 5rem;



}

.users-list{
    width:  20rem;
    margin: 0 3rem 0 0;
    div{
        margin-bottom: .3rem;
    }
}
.expenses-list{
    width:  30rem;

}

