// .select {
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   width: 15rem;
//   height: 2rem;
//   box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(#000000, 0.2);
//   color: #9b9b9b;
//   align-items: center;
//   border-radius: .3rem;


// }


.select{
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 1em;
  padding: .25em;
  border: 0;
    height: 2rem;
    width: 15rem;
  border-bottom: .2rem solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: .2rem;
  color: #9b9b9b;
  &:focus, &:active {
    outline: 0;
    border-bottom-color:  #228be6;
    // border-image: linear-gradient(to right, #a5d8ff,#228be6);
  }
}